<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <connectionStrings>
    <add name="Fang" connectionString="Data Source=172.28.28.40\sql2008;Initial Catalog={0};Persist Security Info=True;User ID=sa;Password=1qaz!QAZ;MultipleActiveResultSets=True;Asynchronous Processing=true"></add>
    <add name="Bidding" connectionString="Data Source=172.28.28.40\sql2008;Initial Catalog={0};Persist Security Info=True;User ID=sa;Password=1qaz!QAZ;MultipleActiveResultSets=True;Asynchronous Processing=true"></add>
    <add name="DB_DC_ESTATE_FULLINDEX" connectionString="Data Source=10.0.81.242;Initial Catalog={0};Persist Security Info=True;User ID=sa;Password=sa@sql2016005;MultipleActiveResultSets=True;Asynchronous Processing=true"></add>
  </connectionStrings>
</configuration>
